<h1>New pirate</h1>

<% form_for(@pirate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :catchphrase %><br />
    <%= f.text_field :catchphrase %>
  </p>
  <h2>... with new ship</h2>
  <p>
    <% fields_for 'pirate[ship_attributes]', @pirate.ship do |s| %>
      <%= s.label :name %>
      <%= s.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pirates_path %>