<h1>New pirate</h1>

<% form_for(@pirate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :catchphrase %><br />
    <%= f.text_field :catchphrase %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pirates_path %>